

*{
    font-size: 20px;
}

.form-container {
  display: flex;
  justify-content: center;
  min-height: 60vh; 
}

div{
	background-color: #e4f1fe;
    margin-left: 100px;
    margin-right: 100px;
    margin-top:10px;
}

h1{
     text-align: center;
     font-size: 40px;
     background-color: #e4f7e8;
}

